<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Dashboard</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="white-box analytics-info">
          logouthBtn
          <h3 class="box-title">Total Ventas Diarias</h3>
          <ul class="list-inline two-part">
            <li>
              <div id="sparklinedash"></div>
            </li>
            <li class="text-right">
              <i class="ti-arrow-up text-success"></i>
              <span class="counter text-success">659.000</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="white-box analytics-info">
          <h3 class="box-title">Total Buses</h3>
          <ul class="list-inline two-part">
            <li>
              <div id="sparklinedash2"></div>
            </li>
            <li class="text-right">
              <i class="ti-arrow-up text-purple"></i>
              <span class="counter text-purple">6</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="white-box analytics-info">
          <h3 class="box-title">Total Ventas Semana</h3>
          <ul class="list-inline two-part">
            <li>
              <div id="sparklinedash3"></div>
            </li>
            <li class="text-right">
              <i class="ti-arrow-up text-info"></i>
              <span class="counter text-info">4912000</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="white-box">
          <div class="col-md-3 col-sm-4 col-xs-6 pull-right">
            <select class="form-control pull-right row b-none">
              <option>Marzo 2020</option>
              <option>Abril 2020</option>
              <option>Mayo 2020</option>
              <option>Junio 2020</option>
              <option>Julio 2020</option>
            </select>
          </div>
          <h3 class="box-title">Ventas Recientes</h3>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>BUS</th>
                  <th>ESTADO</th>
                  <th>FECHA</th>
                  <th>MONTO</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td class="txt-oflo">DPL-555</td>
                  <td>EN TRANSITO</td>
                  <td class="txt-oflo">08 Julio, 2020</td>
                  <td><span class="text-success">$50.000</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
