<footer class="footer">
    <div class="footer-primary">
      <div class="u-wrapper">
        <div class="footer-content">
          <img src="static/assets/logo-footer.png" alt="" srcset="">
          <ul class="footer-menu">
            <li>
              <a href="#">Features</a>
            </li>
            <li>
              <a href="#">Pricing</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-social">
      <a href="#" class="facebook"></a>
      <a href="#" class="twitter"></a>
    </div>
  </footer>