.footer{
    background: var(--mainPink)
    text-align: center
    padding: 1.5em 0
    img{
        width: 190px
        height: 45px
    }
    a{
        color: white
        text-decoration: none
    }
    &-menu{
        margin-top: 2em
        a{
            display: block
            text-transform: uppercase
            letter-spacing: 1px
            padding: 1em
        }
    }
    &-social{
        margin-top: 1em 
        a{
            width: 40px
            height: 40px
            display inline-block 
        }    
        .twitter{
            background: url('../assets/icon-twitter.svg') no-repeat center
        }
        .facebook{
            background: url('../assets/icon-facebook.svg') no-repeat center
        }
    }
    @media screen and (min-width: 1024px){
        img{
            margin-right: 1em
        }
        &-content{
            display: flex
            justify-content: space-between    
        }
        &-menu{
            display: flex 
            margin: 0   
        }
        &-primary{
            display: flex    
            align-items: center
        }
    }
}