.footer{
    background: var(--mainPink)
    text-align: center
    padding: 1.5em 0
    img{
        width: 190px
        height: 45px
    }
    a{
        color: white
        text-decoration: none
    }
    &-menu{
        margin-top: 2em
        a{
            display: block
            text-transform: uppercase
            letter-spacing: 1px
            padding: .8em 0 
        }
    }
    &-social{
        margin-top: 1em 
        a{
            width: 40px
            height: 40px
            display inline-block 
        }    
        .twitter{
            background: url('../assets/icon-twitter.svg') no-repeat center
        }
        .facebook{
            background: url('../assets/icon-facebook.svg') no-repeat center
        }
    }
}