.join{
    background: var(--mainPurple)    
    color: white
    border: 1px solid blue
    padding: 3em 0
    text-align: center
    small{
        text-transform: uppercase
    }
    .form{
        .u-button{
            margin: 0 
        }
        &-input{
            width: 100%
            padding: 1.5em
            box-sizing: border-box   
            margin-bottom: 1em
            border-radius: 10px
            border: none
            font-size: .9em
            outline: 0
            &::-webkit-input-placeholder{
                color: var(--mainPurple)    
            }
        }    
    }
}
