@import './hero.styl'
@import './header.styl'
@import './features.styl'
@import './download.styl'
@import './question.styl'
@import '/carousel.styl'
:root{
    --softBlue: hsl(231, 69%, 60%)
    --softRed: hsl(0, 94%, 66%)
    --grayishBlue: hsl(229, 8%, 60%)
    --VeryDarkBlue: hsl(229, 31%, 21%)
    --mainPurple: #5c4db1
    --mainPink: #ff3b8c
}
body{
    font-family: 'Rubik', sans-serif
    color var(--veryDarkBlue)
    font-size: 18px
}
ul{
    padding: 0 
    list-style: none
    margin: 0
}
.is-hidden{
    display: none !important 
}
.u-wrapper{
    max-width: 1280px
    margin: auto
    padding: 0 1em

}
.u-h1{
    font-size: 1.9em
    color: var(--mainPink)    
    line-height: 1.3
    font-weight: 600
}
.u-h2{
    @extends .u-h1
    font-size: 1.5em
}
.u-h3{
    color: var(--mainPink)  
    line-height: 1
    font-weight: 500
    font-size: 1.5em
    margin: .7em 0
}
.u-p{
    color: var(--mainPurple)
    line-height: 1.8
    font-size: .9em
}
.u-button{
    background: var(--mainPurple)
    color: white
    padding: 1em .5em
    font-size: .9em
    font-weight: 500
    border-radius: .5em
    display: inline-block
    margin-left: .5em
    border: none
    cursor: pointer
    box-shadow: 0 5px 10px -5px var(--mainPink)
    &:first-of-type{
        margin: 0    
    }
    &.is-gray{

    }
    &.is-fullWidth{
        width 100%
    }
}